* {
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*:not(h1) {
    font-size: 20px;
}

input {
    padding: 4px 4px;
}

#textAndButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

body{
    background-color: powderblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.fieldForTask {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.between {
    color: black;
}

.additionalToTask{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#date {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#selectSubAndCreateSub {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#subject {
    display: flex;
    flex-direction: column;
}

#addSubject {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.close {
    display: none;
}

.open {
    display: block;
    top: 50%;
    left: 50%;
    background: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: bisque;
    padding: 10px;
}

.namePlusdatePlusSubject {
    border: 2px solid black;
    border-radius: 5px;
    background-color: bisque;
    padding: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.notdone {
    color: black;
}

