* {
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*:not(h1) {
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: row;
}

.svgForPlanner {
    width: 50px;
    height: auto;
}

main input, main select, main textarea{
    background-color: rgb(225, 251, 255);
    border: 2px solid rgb(51, 157, 171);
    border-radius: 3px;
}

main button{
    background-color: rgb(225, 251, 255);
    border: 2px solid rgb(51, 157, 171);
    border-radius: 3px;
}

main button:hover {
    background-color: rgb(135, 200, 210);
    border: 2px solid rgb(51, 157, 171);
    cursor: pointer;
}

.mainPlusBoxForUpdate {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

input, select, textarea {
    padding: 4px 4px;
}

#taskAndAdd {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

body{
    background-color: powderblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.fieldForTask {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.between {
    color: black;
}

.additionalToTask{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#date {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#selectSubAndCreateSub {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#subject {
    display: flex;
    flex-direction: column;
}

#addSubject {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.close {
    display: none;
}

.open {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(255, 179, 151); /* coral */
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.open button, select, input, textarea {
    background-color: rgb(255, 229, 218);
    border: 2px solid rgb(221, 112, 73);
    border-radius: 3px;
}

.open button:hover{
    background-color: rgb(255, 155, 112);
    border: 2px solid rgb(255, 97, 40);
    cursor: pointer;
}

#newSubject {
    width: 50%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(195, 134, 58);
    border-radius: 5px;
    background-color: bisque;
    padding: 10px;
}

.tasksList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.namePlusdatePlusSubject {
    background-color: rgb(255, 243, 229);
    border: 2px solid rgb(195, 134, 58);
    border-radius: 3px;
    padding: 10px;
}

.task .buttons button {
    background-color: rgb(255, 243, 229);
    border: 2px solid rgb(195, 134, 58);
    border-radius: 3px;
}

.task .buttons button:hover {
    background-color: rgb(255, 216, 171);
    border: 2px solid rgb(195, 134, 58);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.notdone {
    color: black;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons button{
    background-color: rgb(255, 243, 229);
    border: 2px solid rgb(195, 134, 58);
    border-radius: 3px;
}

.taskAndAdd {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width:767px) and (min-width:300px) {
    header {
        justify-content: center;
        gap: 10px;
    }

    body {
        padding: 10px;
    }

    #date {
        flex-direction: column;
    }

    #selectSubAndCreateSub {
        flex-direction: column;
    }

    #subjects {
        width: 50%;
    }

    .taskAndAdd {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width:768px) {
    header {
        justify-content: center;
        gap: 10px;
    }

    .mainPlusBoxForUpdate {
        align-items: center;
    }
    
    main {
        align-items: center;
        width: 100%;
        max-width: 1200px;
    }
    
    .taskAndAdd {
        justify-content: center;
        width: 100%;
    }
    
    .addToList {
        display: flex;
        justify-content: center;
    }
    
    .tasksList {
        width: 100%;
        max-width: 800px;
    }
    
    #box_update {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .open {
        width: 100%;
        max-width: 500px;
    }
}

.invalid {
    border: 3px solid red;
    background-color: rgb(255, 172, 172);
    border-radius: 3px;
}

.checkAndBut {
    display: flex;
    flex-direction: column;
    gap: 10px;
}