* {
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*:not(h1) {
    font-size: 20px;
}

main button, main input, main select, main textarea{
    background-color: rgb(225, 251, 255);
    border: 2px solid rgb(51, 157, 171);
    border-radius: 3px;
}

input, select, textarea {
    padding: 4px 4px;
}

#textAndButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

body{
    background-color: powderblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.fieldForTask {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.between {
    color: black;
}

.additionalToTask{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#date {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#selectSubAndCreateSub {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#subject {
    display: flex;
    flex-direction: column;
}

#addSubject {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.close {
    display: none;
}

.open {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
    /* top: 50%;
    left: 50%; */
    background-color: rgb(255, 179, 151); 
    /* coral */
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.mainPlusBoxForUpdate {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(195, 134, 58);
    border-radius: 5px;
    background-color: bisque;
    padding: 10px;
}

.namePlusdatePlusSubject {
    background-color: rgb(255, 243, 229);
    border: 2px solid rgb(195, 134, 58);
    border-radius: 3px;
    padding: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.notdone {
    color: black;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons button{
    background-color: rgb(255, 243, 229);
    border: 2px solid rgb(195, 134, 58);
    border-radius: 3px;
}

.taskAndAdd {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width:767px) and (min-width:300px) {
    body {
        padding: 10px;
    }

    #date {
        flex-direction: column;
    }

    #selectSubAndCreateSub {
        flex-direction: column;
    }

    #subjects {
        width: 50%;
    }

    .taskAndAdd {
        flex-direction: column;
        gap: 20px;
    }
}